@font-face {
    font-family: 'Quicksand';
    src: url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: top;
    width: 100%;
    height: 1.8em;
    /* border: solid 1px black; */
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: .7em;
    margin-right: .6em;
}

.logout-button {
    font-weight: 300;
    font-size: .7em;
    color: black;
    border: none;
    border-radius: 5px;
    background-color: #dadada;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    padding: .6em;
    text-align: center;
    margin-right: .6em;
  }
  
  .logout-button:hover {
    background-color: #9a9a9a;
  }

  .title {
    font-size: 1em;
  }

  .spotify-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5em;
  }

  .spotify-button {
    font-weight: 300;
    font-size: .7em;
    padding: .6em;
    color: black;
    border: none;
    border-radius: 5px;
    background-color: #2ecc71;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .instructions {
    font-size: .7em;
    margin-bottom: .7em;
  }

.spotify-button:hover {
    background-color: #27ae60;
}

.spotify-button:active {
  background-color: #1e884a;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.text-input {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}

.text-input:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.submit-button {
  margin: .8em;
  font-weight: 300;
  font-size: .7em;
  padding: .6em;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button:active {
  background-color: #003d80;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  display: none;  /* Hidden by default */
  margin-top: .7em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.success {
  color:#27ae60;
}

.container {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 4px;
}

.container input[type=text], .container input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container input[type=submit] {
  font-weight: 300;
  font-size: .7em;
  padding: .6em;
  margin-top: .5em;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #2ecc71;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.container input[type=submit]:hover {
    opacity: 0.8;
}

.container input[type=submit]:active {
  opacity: 0.5;
}

.label {
  font-size: .7em;
}

.register-button {
  margin: .3em;
  font-weight: 300;
  font-size: .5em;
  padding: .5em;
  border: none;
  border-radius: 5px;
  background-color: #0071ea;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #459fff;
}

.register-button:active {
  background-color: #6fb4ff;
}

.header {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: -1em;
}


