<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action='/' method='POST' onsubmit="refreshPage()">
        Email: <input type='text' name='email'><br>
        Password: <input type='password' name='password'><br>
        <input type='submit' value='Login'>
    </form>

    <p>Don't have an account? <a href="/register">Register here</a>.</p>
    <p>Or login with Gmail: <a href="/login/google">Login with Gmail</a></p>

    <script>
        function refreshPage() {
            // This function will be called when the form is submitted
            location.reload();
        }
    </script>
</body>
</html>
