<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="nav-bar">
        <div class="welcome">
            <p>Welcome, {{ user_name }}</p>
        </div>
        <a href='/logout' id="logout-button"><button class="logout-button">Logout</button></a>
    </div>

    <hr>

    <p class="success">👍 Success! Check your Spotify Library 🐶</p>

    <iframe style="border-radius:12px" src="{{ spotify_link }}" width="100%" height="352" frameBorder="0"
        allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>

    <a href="/protected_area"><button class="submit-button">Create Another</button></a>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>