<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="nav-bar">
        <div class="welcome"><p>Welcome, {{ user_name }}</p></div>
        <a href='/logout' id="logout-button"><button class="logout-button">Logout</button></a>       
    </div>
    
    <hr>

    <p class="title">Create Messages With Spotify Playlists!</p>
    
    <p class="success">👍 Success! Check your Spotify Library 🐶</p>

    <a href="/protected_area"><button class="submit-button">Create Another</button></a>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>